.page-header
  %h1 Recent Accommodation Requests

%table.table.table-striped.table-bordered
  %thead
    %tr
      %th Business Type
      %th Project Code
      %th Name
      %th Start Date
      %th End Date
  %tbody
    - accommodations.each(function (accommodation) {
      %tr
        %td= accommodation.get('business_type')
        %td= accommodation.get('project_code')
        %td= accommodation.get('name')
        %td= accommodation.get('start_date')
        %td= accommodation.get('end_date')
    - })
